ul.breadcrumb {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
  list-style: none;
  background-color: transparent;
  
  font-family:  'Helvetica', sans-serif;
  font-weight: bold;
  z-index: 20;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  
}
ul.breadcrumb li+li:before {
  padding: 2px;
  color: black;
  content: ">\00a0";
}
ul.breadcrumb li a {
  color: #170e45;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

// ul.breadcrumb li.active a {
//   color: #01447e;
//   text-decoration: underline;
// }
